/**********************/
/*NAVIGATION*/
/**********************/

body {
  background-color: #fff;
}

.logo {
  height: 11.1rem;
  border-radius: 50%;
  transition: all 0.4s;
}

.logo:hover {
  transform: scale(1.1);
}

.logo-container {
  display: flex;
  margin: 3rem auto;
  align-items: center;
  justify-content: center;
}

.main-nav {
  border-bottom: 3px solid #fff;
}

/**********************/
/*MERCH SECTION*/
/**********************/

.slider {
  width: 120rem;
  height: 60rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;
}

.testimonial {
  width: 50%;
  display: flex;
  justify-content: center;
}

.testimonial-img {
  width: 50%;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 30%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 30%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: blue;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: red;
  opacity: 1;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
  font-size: 2.2rem;
  padding: 1.2rem;
  border: 3px solid #fff;
  background-color: transparent;
  color: #fff;
}

/**********************/
/*FORM*/
/**********************/

.modal {
  max-width: 120rem;
  margin: 0 auto;
}

.btn {
  background-color: black;
}

input[type="number"] {
  width: 90px;
}

.labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.labels label,
p {
  font-size: 2.2rem;
}

#total {
  font-size: 2.2rem;
  border: none;
}
