@media (max-width: 75em) {
  .main-nav {
    margin: 0 2rem;
  }
}

@media (max-width: 62.5em) {
  /**********************/
  /*NAVIGATION*/
  /**********************/

  .btn-main-nav {
    display: block;
    z-index: 9999;
  }

  .logo-container {
    margin: 0;
  }

  .main-nav {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6.4rem;
    transition: all 0.5s ease;

    /* Hide navigation */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 6.4rem;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  /**********************/
  /*HERO SECTION*/
  /**********************/

  .description-container {
    padding: 9.6rem 1.2rem;
  }

  .description {
    font-size: 2.4rem;
  }

  /**********************/
  /*GALLERY*/
  /**********************/

  .gallery {
    grid-auto-rows: auto;
    padding: 4.8rem 1.8rem 9.6rem;
  }

  .container {
    padding: 4.8rem 0;
  }

  .grid--2-cols {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid {
    row-gap: 9.6rem;
    column-gap: 2rem;
  }

  .merch-img-box img {
    object-fit: cover;
    height: 100%;
  }

  .modal img {
    width: 50%;
  }

  /**********************/
  /*TEXT*/
  /**********************/

  .hero-description {
    font-size: 4rem;
  }

  .merch-text-box {
    font-size: 1.4rem;
  }

  /**********************/
  /*EVENT*/
  /**********************/

  .info-text {
    font-size: 3.2rem;
  }

  .small-text {
    display: inline-block;
  }

  .heading-secondary {
    padding: 4.8rem 0;
  }

  .button {
    opacity: 1;
  }

  .button a:link,
  .button a:visited {
    font-size: 2.2rem;
  }

  .order-button {
    display: inline-block;
    opacity: 1;
    text-align: center;
    /* padding: 1.2rem 0rem; */
  }

  .order-button a:link,
  .order-button a:visited {
    font-size: 2.8rem;
  }

  /**********************/
  /*FOOTER*/
  /**********************/

  footer {
    padding: 6.4rem 0 6.4rem;
  }

  .left-side {
    align-items: center;
    justify-content: center;
  }

  .footer-container {
    flex-direction: column;
    padding: 0 1.2rem;
  }

  h3 {
    font-size: 3rem;
  }

  .footer-small-text p {
    font-size: 2rem;
  }

  .social-link {
    font-size: 4.8rem;
  }

  /**********************/
  /*SLIDER*/
  /**********************/

  .testimonial {
    width: 100%;
  }

  .slider__btn {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 2.2rem;
  }

  .slider {
    height: 40rem;
  }

  .slide {
    height: 40rem;
  }

  .dots {
    bottom: 7%;
  }

  /**********************/
  /*FORM*/
  /**********************/

  form {
    grid-template-columns: 150px 150px;
  }

  .sizes {
    text-align: center;
  }

  .labels {
    height: 6rem;
  }

  .labels input {
    font-size: 1.2rem;
    height: 3.2rem;
  }

  .labels label,
  .labels p {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
  }

  #total {
    font-size: 1.8rem;
  }
}
